a:link {
  color: green;
  text-decoration: none;
}
a:visited {
  color: gray;
  text-decoration: none;
}
a:hover {
  color: black;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0px;
  padding: 30px;
}
#grid {
  display: grid;
  grid-template-columns: 156px 1fr;
}
#grid ol {
  border-right: 1px solid black;
  width: 100px;
  margin: 0px;
  padding: 20px;
  padding-left: 35px;
}
#grid #article_1 {
  padding-left: 25px;
}
@media(max-width:700px) {
  #grid {
    display: block;
  }
  #grid ol {
    border-right: none;
  }
  #grid #article_1 {
    padding-left: 18px;
  }
}
